# Dependencies
node_modules/

# Builds
dist/
coverage/
apps/api/generated/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.zed/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
